{% extends 'base.html' %}

{% block css_link %}
<link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">{% endblock %}
{% block title %}Dashboard{% endblock %}

<!-- {% block firstletter %}{{ user_firstletter }}{% endblock %} -->

{% block main %}
<div class="container">
    <h1>Conta</h1>
    <table>
        <tbody>
            <tr>
                <td>Nome: {{ user.name }}</td>
            </tr>
            <tr>
                <td>Usuário: {{ user.username }}</td>
            </tr>
            <tr>
                <td>Senha: {{ user.password }}</td>
            </tr>
            <tr>
                <td>Permissão: {{ user.permission }}</td>
            </tr>
        </tbody>

        
    </table>
</div>
{% endblock %}