{% extends 'base.html' %}

{% block css_link %}<link rel="stylesheet" href="{{ url_for('static', filename='users.css') }}">{% endblock %}
{% block title %}Dashboard{% endblock %}

<!-- {% block firstletter %}{{ user_firstletter }}{% endblock %} -->

{% block main %}
<div class="container">
    <h1>Usuários cadastrados</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Usuário</th>
                <th>Senha</th>
                <th>Permissão</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
